.alert {
    position: fixed;
    bottom: -1em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    color: #fff;
    font-weight: 500;
    font-size: 1.5em;
    padding: .5em 1em;
    border-radius: .4em;
    white-space: nowrap;

    z-index: -20;
    opacity: 0;

    transition: all .5s ease;

    &.success {
        background-color: green;
    }

    &.error {
        background-color: red;
    }

    &.show {
        opacity: 1;
        z-index: 100;
        bottom: 1em;
    }
}