h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.container {
    padding: 0 1em;
}

html {
    font-size: 4.1025641025641vw;
}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: $color-primary;
    background-color: $color-white;
    font-family: 'IM Fell French Canon SC', serif;
}

footer {
    text-align: center;
    font-size: 1.4em;
    color: #000;
    padding: 1em 0;
    font-weight: 500;
    background-color: #F5F3F2;
}

.flip {
    animation: flip 800ms ease;
}


@keyframes flip {
    0% {
        transform: rotateX(0);
        color: transparent;
    }

    100% {
        transform: rotateX(-362deg);
        color: $color-white;
    }
}

.has-html5video {
    &::before {
        margin: 0;
    }

    &>div {
        border-radius: 3em !important;
    }

    video {
        border-radius: 3em;
        height: 40em;

        &:focus {
            outline: none !important;
        }
    }
}

.hidden {
    opacity: 0;
}